* { 
    margin: 0;
    padding: 0;
}

.cabeçalho{
     padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
}

.cartao {
    width: 260px;
    height: 200px;

}

.cartao-imagem {
    width: 100%;
    border-radius: 10px;
}

body{ 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hotpink;
}

main{
    flex: 1;
}


.cabecalho-link {
color:fuchsia;
text-decoration:nome;
}

h1{
color:white;
font-size: 24px;
}

footer{
background-color: blueviolet;
padding: 15px 25px ;
color: crimson;
}

.cartao-interno{
 position:relative;
}

.cartao-frente , .cartao-verso{
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px 12px purple;
    backface-visibility: ;
}